.page-header{
    // background-image: url(/src/img/headerbackground.png);
    // background-size: cover;
    // background-position: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 38, 42, 1);
    @media(min-width: 768px){
        display: grid;
        grid-template-areas: 
        "a c"
        "b b";
        
    }
    #item1{
        grid-area:a;
    }
    #item2{
        grid-area: c;
    }
    #item3{
        grid-area: b;
    }
    @media(min-width: 1200px){
        display: flex;
        background-color: black;
    }

    

}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
.buy-btn{
    cursor: pointer;
    max-width: 145px;
    min-width: 145px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: rgba(141, 129, 172, 1);
    border-radius: 40px;
    border: none;
    color: #ffff;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    font-size: 15px;
    @media(min-width: 768px){
        margin-right: 20px;
    }
    
}
.buy-btn:hover{
    color: #8D81AC;
    background-color: white;
}
.menu-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}
.header-container__logo{
    padding-left: 15px;
}
.header-logo-link{
   display: flex;
   align-items: center;
   text-decoration: none;

}

.header-logo-title{
display: none;
@media (min-width:768px){
    margin-left: 17px;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    align-items: center;
    display: inline-block;
    text-transform: uppercase;
    color: $logoColor;
}
}
.header-menu-wrapper{
    display:none;
    @media(min-width: 768px){
        display:grid;
        margin: 0 auto;
    }
}

.header-menu{
    display: none;
    @media (min-width:768px){
        display: flex;
        
    }
    @media (min-width:1200px){
     padding-left: 305px;
    }
}
.header-menu-item{
    list-style: none;
    margin-right: 45px;
    

}
.header-menu-link{
    text-decoration: none;
    @media (min-width:768px){
        color: $logoColor;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        
    }


}
.header-menu-link:hover{
    color: white;
}
.menu-logo{
    padding-right: 15px;
    @media (min-width:768px){
        display: none;
    }
}
.menu-logo-item{
    padding-bottom: 5px;
}

.header-content-container{
    background-image: url(/src/img/headerbackground.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.header-content-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: white;
    margin: 0;
    padding-top:70px;

}
.header-content-text{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $logoColor;
    padding-left: 15px;
    padding-right: 15px;
}
.version-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
    padding-bottom: 415px;
    margin-bottom: 0;
}
.download-free{
    margin: 0;
    padding: 0;
    text-align: center;
}
.download-btn{
    position: relative;
    bottom: 27px;
    cursor: pointer;
    background-color: rgba(141, 129, 172, 1);
    border-radius: 40px;
    border: none;
    color: #ffff;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    font-size: 18px;
    // width: 290px;
    @media (min-width:768px){
        font-size: 21px;
        max-width: 390px;
    }
    @media (min-width:1200px){
        font-size: 21px;
        max-width: 390px;
     }
}
.download-btn:hover{
    color: #8D81AC;
    background-color: white;
}
// .download-free{
//     position: relative;
// }
.trial-text{
    padding-top: 20px;
    padding-bottom: 60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin: 0;
    color: #848E97;
}

.menu-mob-wrapper{
    display: block;
}
.menu-mob{
    margin: 0 auto;
    top: 101px;
    // width: 80%;
    padding: 0;
    position:absolute;
    right: 15px;
    left: 15px;
    background-color: #333333;
}
.menu-mob-item{
    list-style: none;
    border-bottom:2px solid grey;
    padding-top: 29px;
    padding-bottom: 21px;
    padding-left: 34px;
    position: relative;
    

}
.menu-mob-link{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 26px;
    
    
    
}
 .menu-mob-link:focus{
    color:$logoColor;

}
.menu-mob-link:focus:before{
    position: absolute; 
    content: "";
    width: 8px;
    height: 53px;
    background-color: $logoColor;
    left: 3px;
    top: 19px;
}
.inactive{
    display: none;
}
.close-btn-item1{
    position: relative;
    padding-right: 15px;
}
.close-btn-item{
    position: absolute;
    top: 37px;
    right: 15px;
}