.people-talking{
    background-image: url(/src/img/peopletalk.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;

}
.people-talking-title{
    padding-top: 55px;
    padding-bottom: 80px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}
.people-talking-blocks{
    align-items: center;
}
.people-talking-content{
    @media(min-width: 768px){
        margin: 0 auto;
        display: grid;
        align-content: center;
        align-items: center;
        grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item6";
    }
    #block1{
        grid-area:item1;
    }
    #block2{
        grid-area:item2;
    }
    #block3{
        grid-area:item3;
    }
    #block4{
        grid-area:item4;
    }
    #block5{
        grid-area:item5;
    }
    #block6{
        grid-area:item6;
    }
    @media(min-width: 1200px){
        padding-left: 80px;
        padding-right: 80px;
        display: grid;
        grid-column-gap: 90px;
        grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6";
    }
    #block1{
        grid-area:item1;
    }
    #block2{
        grid-area:item2;
    }
    #block3{
        grid-area:item3;
    }
    #block4{
        grid-area:item4;
    }
    #block5{
        grid-area:item5;
    }
    #block6{
        grid-area:item6;
    }
}
.people-talking-block-text{
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
}
.people-talking-text{
    position: relative;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    padding-bottom: 50px;
     padding-left: 35px;
     padding-right: 35px;
     @media(min-width: 1200px){
         padding-left: 240px;
         padding-right: 240px;
     }
}
.people-talking-text::after{
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    content: '';
    width: 245px;
    border-bottom: 2px solid #645766;
    @media(min-width: 768px){
    width: 555px;
    top: 75%;
    }
    @media(min-width: 1200px){
        width: 780px;
        top: 75%;
    }

}