
@import "./variables";
@import "./general";
@import "./header";
@import "./peopletalking";
@import "./var";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  


.revolutionary {
    width: 266px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px;

    &__trial {
        font-size: 14px;
        font-family: $font-familyMon;
        text-align: center;
        color: #848E97;
    }
    &__title{
        font-family: $font-familyMon;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        color: #635C73;
        margin-top: 72px;
    }
    &__description {
        font-family: $font-familyLato;
        font-weight: normal;
        color: #323232;
        font-size: 13.5px;
        text-align: center;
        line-break: auto;
        margin-top: 23px;
    }
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 34px;
    &__list {
        list-style: none;
    width: 35%;
    margin-bottom: 20px;
    }
    &__icons {
        text-decoration: none;
        color: black;
        font-size: 12px;
        padding: 3px 10px;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
        border: 1px solid rgba(27,31,35,0.2);
        border-radius: .25em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
   
    &__social-count{
        text-decoration: none;
        color: black;
        padding: 3px 10px;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid rgba(27,31,35,.2);
        border-left: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__octicon{
        vertical-align: text-top;
    }
}
.hwyg {
    background: rgb(241,241,241);
    overflow: hidden;
    padding: 0 10px;
}
.features {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 268px;
    
    &__title{
        margin: 0 auto;
        margin-top: 23px;
        color: #8D81AC;
        font-size: 31px;
        font-family: $font-familyMon;
        font-weight: bold;
        text-align: center;
        
    }
    &__block {
        text-align: center;
        margin-top: 34px ;
    }
    &__picture{
        margin: 0 auto;
        width: 111px;
        &__icons{
            margin: 0 auto;
        }
    }
    
    
    &__item{
        color: #323232;
        font-family: $font-familyMon;
        font-size: 16.5px;
        font-weight: normal;
        margin-top: 29px;
    }
    &__descriptions{
        margin-top: 20px;
        font-family: $font-familyLato;
        font-size: 13.5px;
        color: #848E97;
        
    }

}
.editor{
    
    margin-top: 57px;
    overflow: hidden;

}
.pricing {
    background: rgb(66,52,68);
    

}


.forksub-title{
    width: 257px;
    color: #FFFFFF;
    font-size: 21px;
    font-family: $font-familyMon;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 53px;
    font-weight: bold;
}
.forksub{
    background: rgb(66,52,68);

}

.price {
    margin: 0 auto;
    margin-top: 14px;
    width: 257px;

    &__title{
        padding: 46px 63px 34px 63px;
        color:#FFFFFF;
        font-family: $font-familyMon;
        font-size: 17px;
        text-transform: uppercase;
        text-align: center;
        background: #685B6A;
        font-weight: normal;
    }
}
.priceblock {
    background: #5F5161;

    &__number {
        text-align: center;
        display: block;
        color: white;
        font-size: 60px;
        font-family: $font-familyMon;
        padding-top: 32px;
    }
    &__permonth{
        text-transform: uppercase;
        padding-top: 24px;
        display: block;
        text-align: center;
        font-size: 12px;
        font-family: $font-familyMon;
        color: rgba(255, 255, 255, 0.3);

    }
    &__hr {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 5px;
        background: #8D81AC;
        border: none;
        margin-top: 39px;
        margin-bottom: 31px;
    }
    &__options{
        margin-top: 10px;
        text-align: center;
        display: block;
        font-size: 15px;
        font-family: $font-familyMon;
        color: white;
        
    }
    &__purchase {
        
        margin: 67px 48px 38px 48px;
        display: inline-block;
        font-size: 15px;
        font-family: $font-familyMon;
        width: 160px;
        padding: 16px 37px 15px 37px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        background: #776B79;
        outline: none;
        border: none;
        border-radius: 30px;
    }
    &__purchase:hover{
        
        color:  #685B6A; 
        cursor: pointer;
    }
    .second-price{
        margin: 39px 48px 38px 48px;
    }

    
}
.price-active {
    margin: 0 auto;
    margin-top: 14px;
 
    &__title{
        padding: 51px 103px 43px 103px;
        color:#FFFFFF;
        font-family: $font-familyMon;
        font-size: 17px;
        text-transform: uppercase;
        text-align: center;
        background: rgb(51,40,53);
        font-weight: normal;
        width: 308px;
        margin: 0 auto;
    }
}
.priceblock-active {
    background:rgb(54,43,56);
    width: 308px;
    margin: 0 auto;

    &__number {
        text-align: center;
        display: block;
        color: white;
        font-size: 60px;
        font-family: $font-familyMon;
        padding-top: 32px;
    }
    &__permonth{
        text-transform: uppercase;
        padding-top: 25px;
        display: block;
        text-align: center;
        font-size: 12px;
        font-family: $font-familyMon;
        color: rgba(255, 255, 255, 0.3);

    }
    &__hr {
        display: block;
        margin: 0 auto;
        margin-top: 49px;
        margin-bottom: 40px;
        width: 60px;
        height: 5px;
        background: #8D81AC;
        border: none;
        
    }
    &__options{
        text-align: center;
        margin-top: 10px;
        display: block;
        font-size: 18px;
        font-family: $font-familyMon;
        color: white;
    }
    
    &__purchase {
        
        margin: 82px 55px 47px;
        display: inline-block;
        font-size: 15px;
        font-family: $font-familyMon;
        padding: 22px 59px 19px 59px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        background: #776B79;
        outline: none;
        border: none;
        border-radius: 30px;
    }
    &__purchase:hover{
        cursor: pointer;

        color:  #685B6A; 
    }
}

@media(min-width:481px){
    .wrapper{
        width: 100%;
    }
    .information{
        margin-bottom: 98px ;
    }
    .revolutionary {
        width: 100%;

        &__description {
            text-align: center;
            margin:23px 52px 0 47px
        }
    }
    .buttons {
        flex-wrap: unset;
        margin-top: 36px;
        &__list {
            width: unset;
            margin-right: 10px;
        }
        &__list:last-child {
            margin-right: 0;
        }
        
    }
    .features {
    
        display: flex;
        flex-direction: column;
        justify-content: unset;
        margin: 0 auto;
        width: 100%;
       
        
        &__block {
            display: flex;
            justify-content: space-evenly;
            margin-top: 60px ;
            margin-left: 30px;
            
        }
        &__block:last-child{
            margin-bottom: 94px;
        }
        &__picture{
            &__icons{
                margin: 0 auto;
            }
        }
        

        &__item{
            margin-top: unset;
        }
        &__descriptions{
            margin-top: 20px;
            font-family: $font-familyLato;
            font-size: 13.5px;
            color: #848E97;
        }
        &__text{
            margin-left: 24px;
            text-align: left;
            width: 80%;
        }
    
    }
 
    .editor{
        display: flex;
        justify-content: flex-start;
        transform: scale(1.1);
        
        margin-bottom: 94px;
        &__pic{
            margin-left: 25px;
            
        }
    }
    .forksub-title{
        width: 100%;
        margin-top: unset;
        font-size: 43px;
    }
    .forksub {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 481px;
    }
   
    .price{
        margin:unset;
        margin-top: 0px;
        transform: scale(0.79);
        width: 240px;
        &:last-child {
            margin-left: 26px;
        }
    }
    .priceblock{
        margin: 0 auto;
    }

    .price-active{
        margin-left: -5px;
        margin-right: 0;
        margin-bottom: 82px;
        transform: scale(0.7);
        width: 220px;
        margin-top: -35px;

    }
}
@media(min-width:993px){
    .wrapper{
        width: 100%;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }
   
    .editor{
        display: flex;
        justify-content: unset;
        transform: unset;
        margin-right: unset;
        margin-bottom: 75px;
        height: 500px;
        align-self: flex-end;
        width: 40%;
        position: relative;
        right: -10px;
        &__pic{
            height: 100%;
            
        }
       
    }
    
    .features__title{
        position: absolute;
        right: 40px;
        top: 25px;
        font-size: 35px;
    }
    .features{
        width: 50%;
    }
    .hwyg .wrapper{
        display: flex;
        justify-content: space-between;
    }
    .forksub-title{
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .forksub {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
   
    .price{
        margin:unset;
        margin-top: 0px;
        transform: scale(0.79);
        width: 240px;
        &:last-child {
            margin-left: 26px;
        }
    }
    .priceblock{
        margin: 0 auto;
    }

    .price-active{
        margin-left: -25px;
        margin-right: 0;
        margin-bottom: 82px;
        transform: scale(0.7);
        width: 220px;
        margin-top: -35px;

    }

}
@media(min-width:1200px){
   
    .price{
        margin:unset;
        transform: unset;
        width: 257px;
        margin-left: 14px;

        &:first-child {
            margin-left: 0;
        }
    }
    .price-active{
        margin-left: 14px;
        width: 300px;
        transform: unset;


    }


}

